.chat {
  overflow-y: auto;
  background-color: aquamarine;
  padding: 20px;
  height: 1000px;
  display: flex;
  flex-direction: column-reverse;
  .send {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: end;
    .message {
      background-color: #d9fdd3;
      margin-top: 10px;
      padding: 9px;
      max-width: 500px;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  .receive {
    display: flex;
    align-items: start;
    width: 500px;
    .message {
      background-color: #d9fdd3;
      margin-top: 10px;
      padding: 9px;
      width: max-content;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
