.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    h1 {
      font-size: 24px;
    }
    input {
      background-color: transparent;
      font-size: 18px;
      outline: none;
      margin: 10px 0;
      margin-left: 5px;
      padding: 10px;
      border-radius: 10px;
      &:focus {
        outline: none;
      }
    }
    button {
      width: 70px;
      margin: 0 auto;
      cursor: pointer;
      font-size: 18px;
    }
  }
}
