.menu {
  width: 30%;
  padding: 10px 5px 10px 10px;
  background-color: green;
  overflow-y: auto;
  .create {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 5px;
      border-radius: 10px;
      outline: none;
      padding: 5px;
      &:focus {
        outline: none;
      }
    }
  }

  .users {
    display: flex;
    flex-direction: column;
    p {
      font-size: 20px;
      font-weight: bold;
    }
    .userList {
      padding: 5px;
      transition: 0.5s all;
      cursor: pointer;
      background-color: rgba(38, 255, 0, 0.5);
      &:hover {
        background-color: rgba(38, 255, 0, 0.7);
      }
    }
  }
}
